{
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "tabWidth": 2
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
